{
  "semi": true,
  "tabWidth": 2,
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "none",
  "useTabs": false,
  "jsxBracketSameLine": false,
  "htmlWhitespaceSensitivity": "ignore",
  "plugins": ["prettier-plugin-packagejson"],
  "endOfLine": "auto",
  "bracketSameLine": false
}
